*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
    overflow-x: hidden;
    font-style: italic;
}

img{
    max-width: 100%;
}

body{
    width: 100%;
    height: 100%;
    background: #EF4B4B;
}

.header_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 23rem;
}

    .header_container-title{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        width: 90%;
        height: 18rem;
        background: #EC8F6A;
    }

        .header_container-title h1{
            font-size: 5rem;
            color: #EF4B4B;
            text-align: center;
        }

        .header_container-title i{
            font-size: 5rem;
            color: #EF4B4B;
        }

    .header_container-button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 7rem;
        background: #EC8F6A;
    }

        .header_container-button button{
            font-size: 5rem;
            border: none;
            background: #EF4B4B;
            color: #fff;
            padding: .3rem;
            transform: skew(-15deg);
        }

.section_container{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 120rem;
}

    .section_container-div1{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        background: #EC8F6A;
        height: 60rem;
        width: 90%;
    }

        .section_container-div1 h2{
            text-align: center;
            font-size: 4rem;
        }

        .section_container-div1 p{
            font-size: 2rem;
            text-align: center;
        }

        .section_container-div1 img{
            width: 60%;
            box-shadow: -.5rem -.5rem 0rem 0rem #EF4B4B;
        }

    .section_container-div2{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        background: #EC8F6A;
        height: 60rem;
        width: 90%;
    }

        .section_container-div2 img{
            width: 60%;
            box-shadow: .5rem .5rem 0rem 0rem #EF4B4B;
        }

        .section_container-div2 button{
            font-size: 4rem;
            width: 80%;
            border: none;
            background: #EF4B4B;
            color: #fff;
            padding: .3rem;
            transform: skew(-15deg);
        }

@media only screen and (min-width: 768px) {
    .section_container-div1 img{
        width: 50%;
    }

    .section_container-div2 img{
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) {
    
.header_container{
    flex-flow: row nowrap;
}

    .header_container-title h1{
        font-size: 6rem;
    }

    .header_container-title i{
        font-size: 6rem;
        margin-right: 2rem;
    }

    .header_container-title{
        flex-flow: row wrap;
        width: 45%;
        height: 23rem;
    }

    .header_container-button{
        width: 45%;
        height: 23rem;
    }

        .header_container-button button{
            width: 40%;
        }

.section_container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: row nowrap;
    width: 100%;
    height: 69.9rem;
}

    .section_container-div1{
        justify-content: flex-end;
        height: 69.9rem;
        width: 45%;
    }

        .section_container-div1 h2{
            text-align: center;
            font-size: 6rem;
            margin-bottom: 5rem;
        }

        .section_container-div1 p{
            font-size: 4rem;
            text-align: center;
            margin-bottom: 4rem;
        }

        .section_container-div1 img{
            width: 50%;
            box-shadow: -.5rem -.5rem 0rem 0rem #EF4B4B;
            margin-bottom: 3rem;
        }

    .section_container-div2{
        justify-content: flex-start;
        height: 69.9rem;
        width: 45%;
    }

        .section_container-div2 img{
            width: 50%;
            box-shadow: .5rem .5rem 0rem 0rem #EF4B4B;
            margin-top: 3rem;
        }

        .section_container-div2 button{
            font-size: 5rem;
            width: 80%;
            border: none;
            background: #EF4B4B;
            color: #fff;
            padding: .3rem;
            transform: skew(-15deg);
            margin-top: 4rem;
        }
}